<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
  <h1 align="center" style="color:lime">to update</h1>
  <form action="/updateuser" method="post" class="mt-4 border p-4 bg-light shadow">
    <div class="mb-3 mt-3 col-md-6">
      <label>fullname:</label>
      <input type="text" class="form-control"  placeholder="Enter username" name="fullname" value={{ regg[0] }}>
    </div>
    <div class="mb-3  col-md-6">
      <label>height:</label>
      <input type="text" class="form-control"  placeholder="Enter password" name="height" value={{ regg[1] }}>
    </div>
    <div class="mb-3  col-md-6">
      <label>weight:</label>
      <input type="text" class="form-control"  placeholder="Enter password" name="weight" value={{ regg[2] }}>
    </div>
    <div class="mb-3  col-md-6">
      <label>address:</label>
      <input type="text" class="form-control"  placeholder="Enter password" name="address" value={{ regg[3] }}>
    </div>
    <div class="mb-3  col-md-6">
      <label>Email:</label>
      <input type="text" class="form-control"  placeholder="Enter password" name="Email" value={{ regg[4] }}>
    </div>
    <div class="mb-3  col-md-6">
      <label>mobilenumber:</label>
      <input type="text" class="form-control"  placeholder="Enter password" name="mobilenumber" value={{ regg[5] }}>
    </div>
    <div class="mb-3  col-md-6">
      <label>dataofbirth:</label>
      <input type="text" class="form-control"  placeholder="Enter password" name="dateofbirth" value={{ regg[6] }}>
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-dark text-success">Submit</button>
  </form>
     {% with message=get_flashed_messages() %}
     {% if(message): %}
     {% for msg in message: %}
     <div class="alert alert-info alert-dismissible">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>{{ msg }}</strong> 
     </div>

     {% endfor %}
     {% endif %}
     {% endwith %}
  </body>
</html>